{% extends 'blog/common.html' %}
{% block content %}


<div class="container">
  <section class = 'jumbotron' id="about">
  <div class="w-100">
      <h3 class="mb-0">Naman
      <span class="text-primary">Vijayvargiya</span>
      </h1>
      <div class="subheading mb-5">79 N sanchar nagar extension · Kanadia road, Indore 452016 · 9039113502 ·
      <a href="mailto:name@email.com">vnaman555@gmail.com.com</a>
      </div>
      <p class="lead mb-5">I am a soon to be graduated computer scienve engineer from medicaps university</p>
  </div>
  </div>
  </section>


<div class="container">
  <section id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content-a">
            <h3 class="mb-0">Medi-Caps University</h3>
            <div class="subheading mb-3">Bachelor of technology</div>
            <div>Computer Science </div>
            <p>CGPA: 7.3</p>
          
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2016 - June 2020</span>
          </div>
        </div>
      </div>
        
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content-b">
            <h3 class="mb-0">Gyanodaya higher secondary school</h3>
            <div class="subheading mb-3">XII</div>
            <p>80%</p>
          
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2015 - May 2016</span>
          </div>
        </div>
      </div>
      </div>
      </div>
    </section>
      </div>

<hr class="m-0">
      
<div class="container">
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <h2 class="mb-5">Experience</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Web Developer</h3>
        <div class="subheading mb-3">Tamarind Marks</div>
        <p>Tasked with the day to day web development jobs at the company. fulfilling customer requirements through wordpress.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">March 2019 - August 2019</span>
      </div>
    </div>
  </div>
  </section>
  </div>
<hr class="m-0">
<div class="container">
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
  <div class="w-100">
    <h2 class="mb-5">Skills</h2>
      <ul>
          <li>Python <i class="fab fa-html5"></i></li>
          <li>Django <i class="fab fa-code"></i></li>
          <li>wordpress <i class="fab fa-wordpress"></i></li>
          <li>Git <i class="fab fa-github"></i></li>

      </ul>
</section>
</div>
<hr class="m-0">

{% endblock %}